$background-color_1: #eee;
$background-color_2: #6c757d;
$background-color_primary: #009620;

.radio {
  display: block;
  position: relative;
  padding-left: 1.8rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    input[type="radio"] {
      &:checked {
        ~ {
          .radio__checkmark {
            background-color: $background-color_2;
          }
        }
      }
    }
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked {
      ~ {
        .radio__checkmark {
          background-color: $background-color_primary;
          &:after {
            display: block;
          }
        }
      }
    }
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;

    &::after {
      content: "";
      top: 6px;
      left: 6px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: white;
      position: relative;
    }
  }

  &__label {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    font-weight: 500;
    letter-spacing: 0.025em;
  }
}
